.home-page{    
    background-image: url('https://i.ibb.co/p0kFGmG/Chatbot-lawyer-header-image-scaled.jpg'); /* URL to your background image */
    background-size: cover; /* Scale the image to cover the entire container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the image horizontally and vertically */
    height: 100vh; /* Set a specific height to the container, or adjust as needed */
    filter: brightness(95%);

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    

}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    

}

.homepage{
    display: flex;
    justify-content: flex-end; /* Moves content to the right */
    align-items: center; /* Vertically centers content */
}

.home-page h1 {
    color: whitesmoke;
}
.home-page .text{
    padding-top: 200px;
}