/* Navbar.css */

/* Spacing for list items */
.navbar-nav li {
  margin-right: 10px; /* Adjust the spacing as needed */
}

/* Change color on hover */
.navbar-nav li a {
  font-size: larger;
  color: white;
}
.navbar-nav li a:hover{
  color: black;
}
.navbar-header img {
  padding-bottom: 15px;
}